.download-taskpane {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Used to ensure that the download botton is always on the screen */
.download-taskpane-flex-grow-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

