
.control-panel-taskpane-tab-container {

    width: 100%;
    display: flex;
    justify-content: space-around;

    box-sizing: border-box;

    width: inherit;
}

.control-panel-taskpane-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 30px;
}

/* When the taskpane tab is selected, turn it purple. */
.control-panel-taskpane-tab.selected {
    background-color: var(--mito-highlight);
    color: var(--mito-background); 
}

/* When the taskpane tab is not selected, turn it light blue */
.control-panel-taskpane-tab.unselected {
    background: var(--mito-background-highlight);
}

.control-panel-taskpane-tab:hover {
    background: var(--mito-highlight-medium);
}