.filter-group {
    width: 100%;

    background: var(--mito-background-highlight);
    border: 0.5px solid var(--mito-text-light);
    box-sizing: border-box;
    border-radius: 3px;

    padding: 10px 5px;
}