.sort-button {
    height: 30px;
    width: 100%;

    font-size: 12px;
    color: var(--mito-text);
    background-color: var(--mito-background-off);

    border: 1px solid var(--mito-text-light);
    border-radius: 3px;
    border-style: solid; /* Get rid of the shadow around button */
    box-sizing: border-box;
}

.sort-button:hover {
    background-color: var(--mito-highlight-light);
}

.sort-button-selected {
    background-color: var(--mito-highlight) !important;
}
