.dropdown_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    box-sizing: border-box;

    overflow: hidden;
}

.dropdown_item_selected {
    background-color: var(--mito-light-blue);
}
.dropdown_item:hover {
    background-color: var(--mito-light-blue);
}

.dropdown_item_icon_and_title_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.dropdown_item_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Must be the same width as the .dropdown-item-subtext-container */
    width: 18px;
    flex-shrink: 0;
}

.dropdown_item p {
    margin-top: 0;
    color: var(--color-background)
}

