.default-taskpane-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* Add standard spacing around the entire taskpane */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    /* Set standard taskpane color */ 
    color: var(--mito-legacy-gray);
    /* We have to set the background, as the taskpane turns black on fullscreen for some reason */
    background-color: white;

    /* 
        Stylize border of box without creating a double border. 
        The border around the entire Mito container and the footer 
        create the right and bottom borders of the taskpane.
    */ 
    border-left: 1px solid var(--mito-border);
    border-top: 1px solid var(--mito-border);

    box-sizing: border-box;
}

.default-taskpane-header-div {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.default-taskpane-header-and-back-button {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.default-taskpane-body-div {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: scroll;

    margin-top: 15px;
}

.default-taskpane-header-exit-button-div {
    display: flex;
    align-items: center;
}

.default-taskpane-body-div-no-scroll {
    overflow-y: hidden !important;
}

.default-taskpane-body-section-div {
    margin-top: 10px;
}

.default-taskpane-body-section-title-text {
    font-size: 16px;
}
