.default-taskpane-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    /* Add standard spacing around the entire taskpane */
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    color: var(--mito-text);
    background-color: var(--mito-background);

    /* 
        Stylize border of box without creating a double border. 
        The border around the entire Mito container and the footer 
        create the right and bottom borders of the taskpane.
    */ 
    border-top: 1px solid var(--mito-text-light);

    box-sizing: border-box;
}

.default-taskpane-header-div {
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.default-taskpane-header-and-back-button {
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.taskpane-resizer-container {
    width: 5px;
    cursor: col-resize;
    border-top: 1px solid var(--mito-text-light);
    display: flex;
    background-color: var(--mito-background);
}
.taskpane-resizer {
    width: 1px;
    cursor: col-resize;
    background-color: var(--mito-text-light);
}

.default-taskpane-body-div {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow-y: scroll;

    margin-top: 15px;
}

.default-taskpane-body-disabled {
    pointer-events: none;  
    opacity: 50%;
}

.default-taskpane-header-exit-button-div {
    display: flex;
    align-items: center;
}

.default-taskpane-body-div-no-scroll {
    overflow-y: hidden !important;
}

.default-taskpane-body-section-div {
    margin-top: 10px;
}

.default-taskpane-body-section-title-text {
    font-size: 16px;
}
