.graph-sidebar-div {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    
    /* Give it absolute positioning so the column selecting popup can appear on top of it */
    position: relative;

    color: var(--mito-text);
    background-color: var(--mito-background);

    /* Stylize border of box, which we only need on the top so we don't double up */ 
    border-top: 1px solid var(--mito-text-light);
    
    box-sizing: border-box;
}

.graph-sidebar-no-data-div {
    height: 100%;
    width: 100%;
    display: flex
}

.graph-sidebar-no-data-text {
    margin: auto;
}

.graph-sidebar-graph-div {
    display: flex;
    flex-grow: 1;

    padding: 5px 10px;
}

.graph-sidebar-welcome-text {
    width: 100%;
    text-align: center;
    align-self: center
}

.graph-sidebar-toolbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-left: 1px solid var(--mito-text-light);
    width: 300px;
    min-width: 300px;
    height: 100%;
    box-sizing: border-box;
}

.gtitle-highlighted .g-gtitle,
.xtitle-highlighted .g-xtitle,
.ytitle-highlighted .g-ytitle,
.g-gtitle:hover,
.g-xtitle:hover,
.g-ytitle:hover {
    cursor: pointer;
    outline: 1px solid var(--mito-medium-gray)
}

.graph-sidebar-toolbar-content-container {
    display: flex;
    flex-direction: column;

    /* 
        Make sure that content doesn't get cutoff by the graph tabs.
        Must be the same height as the height of the tabs defined .control-panel-taskpane-tab
    */
    width: 300px;
    
    padding-top: 5px;
    padding-right: 5px; 
    padding-left: 5px;
    box-sizing: border-box;

    height: 100%;
    overflow-y: scroll;
}

.graph-sidebar-toolbar-content {
    padding-right: 10px; /* Extra padding on the right to make room for the scrollbar */
    overflow-y: scroll;

}

.graph-sidebar-toolbar-content > * + * {
    /* Apply the same spacing to every child of the graph sidebar toolbar content */
    margin-top: 15px;
}
                        
.popup-div { 
    /* Make the popup div float above the sidebar */
    z-index: 3;
    position: absolute;

    /* Place the popup div */
    top: 35%;
    left: 39%; /* This puts the loading indicator in the middle of the graph sidebar */

    text-align: center;
}

.graph-element-popup-div-caret {
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    right: 50%;
    margin-left: 0;
    margin-top: -5px;
    background: var(--mito-highlight);
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.graph-element-popup-div-caret-below-left .graph-element-popup-div-caret {
    top: 100%;
    left: 12px;
}

.graph-element-popup-div-caret-below-centered .graph-element-popup-div-caret {
    top: 100%;
    left: 70px;
}

.graph-element-popup-div-caret-above .graph-element-popup-div-caret {
    top: 0;
}

.graph-element-popup-div {
    padding: 3px;
    background: var(--mito-highlight);
    border-radius: 3px;
}

.popup-text-div {
  color: var(--mito-text-medium);
}

.graph-sidebar-tab-container {
    /* 
        We put the tabs at the bottom of the graph sidebar container,
        which they are the child of. This way, they are always visible
    */
    position: absolute;
    bottom: 0px;

    display: flex;
    justify-content: space-around;

    box-sizing: border-box;

    width: inherit;
}