
.post {
    margin-top: 7rem;
    margin-bottom: 4rem;
    width: 100%;
    font-family: Inter, Ubuntu, Helvetica, Arial, sans-serif;
}

.post a {
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}
  
.post a:hover {
text-decoration-color: rgba(0, 0, 0, 1);
}

.post_banner {
    background-color: var(--color-purple);
    padding: 5rem 20rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.post_title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.post_title h1 {
    font-size: 3rem;
    max-width: 78rem;
}

.post_title p {
    margin-top: 0
}

.post_content {
    margin: 0 2rem;
    max-width: 78rem;
}

/* Make lists start at the right place*/
.post_content ol {
    margin-top: 2rem;
    padding-left: 1.5rem;
}
.post_content ul {
    margin-top: 2rem;
    padding-left: 1.5rem;
}

.post_content ol > li {
    margin-top: 0.5rem;
}
.post_content ul > li {
    margin-top: 0.5rem;
}

.post_metadata {
    display: flex;
    flex-direction: row;
    margin-bottom: .5rem;
}

.post_content pre {
    padding: 1rem;
    border-radius: 0.3rem;
    background-color:var(--color-light-background);
}

.post_content h1 {
    margin-top: 3rem;
    font-size: 2.7rem;
}
.post_content h2 {
    margin-top: 2rem;
    font-size: 2.3rem;
}
.post_content h3 {
    margin-top: 2rem;
}
.post_content span {
    font-size: 1.5rem;
    color: var(--color-text-primary);
    font-weight: 100;
}
.post_content a {
    color: var(--color-purple);
}

.post_content blockquote {
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}

.post_content a {
    color: var(--color-purple);
}

.post_content a:hover {
    /* Underline */
    text-decoration: underline;
}

.post_content img {
    max-width: 100%;
    height: auto;
}
.post_content video {
    max-width: 100%;
    height: auto;
}

.post_content table {
    border-collapse: collapse;
    color: white;
    border-radius: 8px 8px 0 0;
    overflow: hidden; 
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 1.5rem;
}

.post_content table th,
.post_content table td {
  padding: 20px;
  text-align: left;
  border: none; 
  border-bottom: 1.5px solid black; 
}

.post_toc {
    width: 16rem;
    min-width: 16rem;
    height: fit-content;
    position: sticky;
    top: 5rem;
    margin-left: 2rem;
}

.post_content table thead {
    background-color: black;
    border-radius: 1rem;
}

.post_cta {
    width: 16rem;
    min-width: 16rem;
    height: fit-content;
    position: sticky;
    top: 6rem;
    right: 0;
    background-color: #F2C94C;
    border-radius: 15px;
    padding: 2rem 2rem 0 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.suggested_blogs_section {
    margin: 4rem;
    display: flex;
    flex-direction: column;
}

.suggested_blogs_section h1 {
    margin: 2rem;
    color: var(--color-light-purple);
}

.suggested_blogs_links {
    display: flex;
    flex-wrap: wrap;
}

.suggested_blog_card {
    width: 18em;
    margin: 3em;
}

.post_additional_info {
    margin-left: 3em;
}

.post_title h1 {
    margin-top: 0;
}

.post_content_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post_content_container {
    justify-content: space-between;
}

.post_content p, .post_content li, .post_content a {
    font-size: 1.4rem;
}

.post_content table {
    font-size: 1rem;
}

@media only screen and (max-width: 96em) {
    .post_cta {
        display: none;
    }

    .post_content_container {
        justify-content: flex-start;
    }

    .post_banner {
        padding: 5rem 14rem 5rem 20rem;
    }
}

@media only screen and (max-width: 50em) {
    .post_toc {
        display: none;
    }

    .post_banner {
        padding: 3rem;
    }

    .post_content_container {
        padding: 3rem;
        justify-content: center;
    }
    .post_content p, .post_content li, .post_content a {
        font-size: 2rem;
        color: var(--color-text-primary);
        font-weight: 100;
    }
    .post_content blockquote {
        font-size: 3rem;
    }
    .post_content h1 {
        font-size: 3.5rem;
    }
    .post_content {
        margin: 0;
        max-width: unset;
    }
}