
.first_post {
    width: 60vw;
    margin-top: 4rem;
    cursor: pointer;
}

.first_post > h3 {
    font-size: 4rem;
}

.first_post > p {
    font-size: 1rem;
}

.post {
    padding: 2rem 2rem;
    border-radius: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    background-color: var(--color-light-background);
    cursor: pointer;
}

.excerpt {
    margin: 1rem 0;
    color: var(--color-text-primary);
}

.post_metadata {
    margin-top: .5rem;
    display: flex;
    flex-direction: row;
}

.published_at {
    color: var(--color-purple);
    margin-right: .35rem;
}

.reading_time {
    color: var(--color-text-secondary);
}

.other_posts {
    align-self: start;
    margin-top: 4rem;
    margin-bottom: 1rem;
}