.main {
    display: flex;
    flex-direction: row;
    padding: 3rem 0rem;
    position: relative;
    min-height: 100vh;
}

.title_card {
    padding-top: 4rem;
}

.title_card > *:not(:last-child) {
    margin-bottom: 2rem;
}

.section {
    align-items: flex-start !important;
}

.section + .section {
    margin-top: 4rem;
}

.title_card  {
    margin-bottom: 4rem;
}

.related_functions_card {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.related_functions_card * {
    margin-right: 10px;
}

.h3 {
    font-family: Graphik;
    font-style: normal;
    font-weight: 400;
    margin-top: 2rem;
    font-size: 1.25rem;
}

.table {
    border-collapse: collapse;
    color: white;
    border-radius: 8px 8px 0 0; /* Round the top-left and top-right corners */
    overflow: hidden; /* Ensure content doesn't overflow rounded corners */
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.table th,
.table td {
  padding: 20px;
  text-align: left;
  border: none; /* Remove the existing border */
  border-bottom: 1.5px solid black; /* Add a black bottom border between rows */
}

.table thead {
    background-color: black;
    border-radius: 10px;
}

.link {
    position: relative;
    padding-right: 30px;
    display: flex;
    text-align: center;
    align-items: flex-start
}

.section_copy {
    display: none;
    margin-left: 1rem;
    color: var(--color-purple);
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (min-width: 50em) {

    .blog_content {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        width: 80%;
    }

    .table_of_contents_container {
        position: fixed;
        top: 200px;
        right: 0px;
        width: 20%;
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
    }

    .table {
        width: 80%;
    }

    h2 .section_copy {
        font-size: 2rem;
    }

    h3 .section_copy {
        font-size: 1.5rem;
    }

    h2:hover .section_copy,
    h3:hover .section_copy {
        display: inline; 
    }

}


