.cta_button_and_video_spacer {
  margin-bottom: 32px;
}

.video {
  max-width: 100%;
  border-radius: 2rem;
  padding: 1.5rem 2rem; 
  background: var(--color-video-background);
  border: 5px solid rgba(198, 169, 255, 0.25);
}

.functionality_media {
  height: min-content;
  display: block;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.metrics_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.metric_container {
  margin: 3rem 0;
}

.gradient_text {
  font-size: 10vw;
  background: -webkit-linear-gradient(-90deg, #9D6CFF, rgba(125, 26, 255, 0.39));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: linear-gradient(180deg, #FFFFFF, #000000)
}

.metrics_label {
  margin-top: .5rem;
}

.tweet_section_header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tweet_section_header button {
  margin-top: 2rem;
}

.open_source_section_logos {
  margin-top: 8rem !important;
}


@media only screen and (min-width: 50em) {

  .video {
    max-width: 85vw;
    max-height: 40rem;
    padding: 1rem 1rem; 
  }

  .functionality_text {
    max-width: 30rem;
  }

  .functionality_media {
    margin: 0;
    max-width: 45rem;
  }

  .metrics_container {
    flex-direction: row;
  }

  .gradient_text {
    font-size: 5vw;
  }

  .tweet_section {
    max-width: 80vw;
  }

  .open_source_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .open_source_section_header {
    width: 40vw !important;
    height: 100%;
    margin-left: 10vw;
    text-align: left;
  }

  .open_source_section_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0 !important;
    max-width: 500px;
  }

  .open_source_section_logo_container {
    text-align: center;
  }
}