.gradient_card {
    background: linear-gradient(100.38deg, rgba(157, 108, 255, 0.2) -4.09%, rgba(157, 108, 255, 0.05) 28.54%, rgba(157, 108, 255, 0.2) 59.33%, rgba(157, 108, 255, 0.05) 99.99%);
    border-radius: 30px;
    padding: 7rem 0;
}

.icon {
    margin-bottom: 3rem;
}

.security_bullet_container {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media only screen and (min-width: 50em) {
    .icon {
        margin-bottom: 2rem;
    }

    .gradient_card h1 {
        font-size: 2.5rem;
    }

    .security_bullet_container {
        padding-left: 0;
        padding-right: 0;
    }

}