.flex_col_mobile_row_desktop {
    display: flex;
    flex-direction: column;
}

.title_text_container {
    max-width: 45rem;
    text-align: center;
}

.image_display_block {
    flex-grow: 1;
    display: block;
}

@media only screen and (min-width: 50em) {
    .flex_col_mobile_row_desktop {
        display: flex;
        flex-direction: row;
    } 

    .title_text_container {
        text-align: start;
    }

}
