.flex_col_mobile_row_desktop {
    display: flex;
    flex-direction: column;
}

.title_text_container {
    max-width: 30rem;
    text-align: center;
}

.image_display_block {
    flex-grow: 1;
    display: block;
}

.hero_image {
    border-radius: 5px;
}

.automate_section_container {
    max-width: 60rem;
}

.videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
  
.videoContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (change this value if needed) */
    width: 100%;
    max-width: 80rem;
    border-radius: 10px; /* Adjust the radius value as per your preference */
    overflow: hidden; /* Clip the rounded corners */
}

.videoContainer .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 50em) {
    .flex_col_mobile_row_desktop {
        display: flex;
        flex-direction: row;
        padding-top: 8rem;
        padding-bottom: 8rem;
    } 

    .title_text_container {
        text-align: start;
    }
}
