.handwritten_font {
    font-family: GloriaHallelujah;
    font-size: 3rem;
    color: #FFFFFF;
}

@media only screen and (min-width: 50em) {
    .handwritten_font {
        font-size: 1.75rem;
    }

}