
.display_answerquiz_answer {
    color: var(--color-purple)
}

.quiz_answer_button {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (min-width: 50em) {
    .three_quarter_width_header {
        max-width: 75%;
    }
}