.border-t-light-gray {
    border-top: 1px solid var(--mito-text-light);
}
.border-b-light-gray {
    border-bottom: 1px solid var(--mito-text-light);
}
.border-l-light-gray {
    border-left: 1px solid var(--mito-text-light);
}
.border-r-light-gray {
    border-right: 1px solid var(--mito-text-light);
}

.border-red-important {
    border: 1px solid red !important;
}