
.text_button {
  font-style: medium;
  font-weight: 400;
  font-size: 2rem;
  max-width: 20rem;
  padding: 10px 15px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;

  cursor: pointer;

  /* 
    This is required to make the TextButton the same exact height
    across the a tag and button implmentations! Without it, the max-width doesn't
    apply to the a tag.
  */
  display: inline-block;
}

.highlight {
  color: var(--color-text-primary);
  background-color: var(--color-purple);
}

.highlight:hover {
  background-color: var(--color-light-purple);
}

.primary {
  color: var(--color-background);
  background-color: var(--color-text-primary);
}

.primary:hover {
  background-color: var(--color-text-secondary);
}

.text_button button,
.text_button a {
  box-sizing: border-box;
  line-height: 2.5rem;
}

.button_size_small {
  max-width: 10rem;
  font-size: 1.25rem;
  padding: 5px 10px;

}

@media only screen and (min-width: 50em) {

  .large {
    font-size: 1.5rem;
  }

  .small {
    font-size: 1rem;
  }

  .text_button button,
  .text_button a {
    line-height: 2rem;
  }
}