.header {
    padding: 2rem 4rem;
    background-color: var(--color-background);
  
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    box-sizing: border-box;
    width: 100%;

    z-index: 1; /* Make sure everything scrolls behind the nav bar */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    list-style: none;
    color: var(--color-text-secondary);
    margin-top: 2rem;
}

.mobile_nav_menu {
    display: flex;
    flex-direction: column;
    width: 80vw;

    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    padding: 2rem 2rem 2rem 6rem;
    background: var(--color-background);
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
}

.menu_bar_container {
    flex-direction: column;
}

.menu_bar {
    width: 35px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 3px 0;
}

.mobile_nav_bar_close_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.mobile_nav_bar_close_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 20vw;
    margin-top: 5rem;
    background-color: var(--color-light-background);
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.mobile_nav_menu_hidden {
    display: none;
}

.desktop_right_nav_bar {
    display: none;
}

.promotion_banner {
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

@media only screen and (min-width: 50em) {

    .header {
        padding-top: 2rem;
        padding-bottom: 2rem; 
    }

    .desktop_left_nav_bar,
    .desktop_right_nav_bar {
        display: flex;
    }

    .desktop_left_nav_bar {
        align-items: center;
    }

    .desktop_left_nav_bar li,
    .desktop_left_nav_bar div {
        /* 
            Turns the list horizontal instead of vertical default.
            Using inline-block instead of just inline makes the nav dropdown
            hover triggers work properly
        */
        display: inline-block;
        line-height: 1.375rem;
        margin-top: 0;
    }

    .desktop_menu_items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .dropdown_container {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .dropdown {
        display: flex;
        visibility: hidden;
        flex-direction: column;
        text-align: start;
        position: absolute;
        z-index: 1;
        background-color: var(--color-background);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
        padding: 1rem 1rem;
        opacity: 0;
        transition: opacity 0.25s ease;
        border-radius: 5px;
    }

    .dropdown_item {
        display: flex !important;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    .dropdown_item:hover div,
    .dropdown_item:hover p {
        color: var(--color-purple) !important;
    }

    .dropdown_item_row {
        font-size: .8rem;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }

    .dropdown_item_row * + * {
        margin-left: 1rem;
    }

    .dropdown_item_subtext {
        margin-left: 0;
        margin-top: 0.5rem;
        font-size: .7rem;
    }

    .dropdown li {
        padding: 0;
    }

    .dropdown li + li {
        margin-top: 1rem;
    }

    .dropdown_container:hover .dropdown, 
    .dropdown:hover {
        visibility: visible;
        opacity: 1;
    }

    .dropdown > * + * {
        margin-left: 0;
    }

    .nav_item {
        margin-left: 2.5rem;
    }

    .dropdown_anchor_container > span {
        /* 
            Since the image tag comes with a default margin, 
            we need to apply !important to apply our own margins
        */ 
        margin-bottom: 2px !important;
        margin-left: 2px !important;
    }
}
