.catch-up-popup-container {
    /* Render above other divs */
    z-index: 2;
    position: absolute;

    /* Make it a sidebar on the right side */
    width: 290px;
    background-color: var(--mito-highlight);
    border-radius: 5px;

    /* Place it right inside the upper left corner of the sheet */
    margin-top: 85px;
    margin-left: 5px;

    padding: 15px 20px;

    color: var(--mito-text);
}