.footer {
    height: min-content;
    display: flex;
    justify-content: space-between;

    /* Stops the footer from shrinking vertically. */
    flex-shrink: 0; 

    background-color: var(--mito-light-blue);
    overflow-x: auto;
    overflow-y: clip;

    /* Stops the sheet tabs from wrapping text, and forces it to display in one line */
    white-space: nowrap;
    box-sizing: border-box;

    border-top: 1px solid var(--mito-border);

    /* Position the footer so that the add button and the size can stay in place */
    position: relative;
}

.footer-add-button {
    background-color: var(--mito-light-purple);

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7.5px;

    border-right: 1px solid var(--mito-border);
}

.footer-add-button:hover {
    background-color: var(--mito-very-light-purple);
}

.footer-tab-bar {
    /* Deal with the overflow */
    overflow: scroll;
    overflow-y: clip;

    white-space: nowrap;
    flex: auto;
    height: min-content;

}

.footer-right-side {
    display: flex;
    flex-direction: row;
}

.footer-sheet-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding-left: 5px;
    padding-right: 5px;
    color: var(--mito-gray);

    /* A bit of a hack to make the text centered */
    line-height: 20px;
    border-left: 1px solid var(--mito-border);
}

.tab {
    /* Set background color and border of sheet tab*/
    background: var(--mito-light-blue);

    /* 
        We only set a right border so that we don't have a doubly thick border
        between each tab and the last tab has a border with the same thickness as 
        the other tabs.
    */
    border-right: 1px solid var(--mito-border);
    box-sizing: border-box;

    height: 26px;
    padding-left: 10px;
    padding-right: 10px;

    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.tab-graph {
    background-color: var(--mito-lightest-purple)
}

.tab-selected {
    background-color: var(--mito-purple);
    /* The selected sheet tab does not need a border */
    border: 0px;  
    color: var(--mito-white);
    box-sizing: border-box;
}

.tab-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
}

.tab-content > * + * {
    /* Evenly space all of the tab-contents children */
    margin-left: 5px;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-navigation-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-navigation-icons {
    display: flex;
    flex-direction: row;
}