.formula-bar {
    height: 32px;
    border-top: 1px solid var(--mito-text-light);
    border-bottom: 1px solid var(--mito-text-light);
    background: var(--mito-background);
}

.formula-bar-column-header {
    max-width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formula-bar-formula {
    /* Make input blend in with formula bar */
    background-color: var(--mito-background);
    border-radius: 0;
    border-style: none;
    outline: none;

    color: var(--mito-text);
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formula-bar-vertical-line {
    border-left: 1px solid var(--mito-text-light);
    height: 11px;
    margin-left: 10px;
    margin-right: 10px;
}
