.toolbar-container {
  width: 100%;
  height:70px;
  padding: 4px;

  /* We make the toolbar a flexbox, for the toolbar icons/actions */
  display: flex;
  flex-direction: column;

  background-color: var(--mito-light-blue);

  /* border-box to set the border inside the div, so it doesn't get chopped */
  box-sizing: border-box; 
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Older Webkit browsers */

  /* We use this for seperating sections in the toolbar*/
  --toolbar-seperator-color: #D0D2DF;
}

.toolbar-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toolbar-top-left {
  display: flex;
  flex-direction: row;
}

.toolbar-dropdown-selector {
  height: 22px;
  margin-right: 5px;
  padding: 2px 3px;
  border-radius: 3px;
  font-family: Roboto;
  box-sizing: border-box;
  color: var(--mito-legacy-gray);
}

.toolbar-dropdown-selector-selected {
  background: var(--mito-light-purple);
}

.toolbar-dropdown-selector:hover {
  background: var(--mito-light-purple);
}

/* A line that seperates the top and bottom vertically */
.toolbar-top-bottom-seperator {
  width: 100%;
  border-top: 1px solid var(--toolbar-seperator-color);
  height: 100%;


  margin-top: 1px; /* Beacuse this is a top border, we need margin on top */
  padding-bottom: 4px;
}

.toolbar-bottom {
  display: flex;
  flex-direction: row;
}

.toolbar-bottom-left-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* 
    The left toolbar gets flex:3 and the right toolbar gets flex:1 
    because the left has 3x as many buttons
  */
  flex: 3; 
}

.toolbar-bottom-right-half {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.toolbar-button-container {
  /* Keep items evenly spaced */
  display: flex;
  max-width: 45px;
  min-width: max-content;
  width: 100%;
  height: 35px;

  margin: 0px 1px;

  border-radius: 3px;

  align-items: center;
  justify-content: center;

  /* Make input blend in with formula bar */
  background-color: var(--mito-light-blue);

  color: var(--mito-legacy-gray);
}

.toolbar-button {
  /* Stack icon and label vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 1px 2px;
  border-radius: 3px;
  margin: 0px;
  width: 100%;
  
  /* Put items in middle of div */ 
  align-items: center;

  background-color: inherit;
  border-style: none;
  outline: none;

  color: inherit;

  /* Use Roboto font for the toolbar item label, not condensed as it makes it very unreadable at small fonts */
  font-family: Roboto;
}

.toolbar-button-container:hover {
  background-color: var(--mito-light-purple);
}

.toolbar-button-icon-container {
  margin: auto;
  height: 18px;
}

.toolbar-button-label {
  font-size: 11px;
  height: 13px;
}

.toolbar-vertical-line {
  border-left: 1px solid var(--toolbar-seperator-color);
  height: 100%;
  margin-right: 2px;
  padding-right: 2px;
}

.toolbar-button-draw-attention {
  border: 2px solid var(--mito-blue);
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

/* The button in the toolbar that lets the user upgrade or tells them they are pro */
.plan-button {
  border-radius: 3px;
  background-color: var(--mito-purple);
  font-size: 12px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  color: var(--mito-white);
  height: 18px;
}