.upgrade-modal-container {
    margin: auto;
    width: 730px;
    height: 340px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.upgrade-modal-code-list-item {
    display: flex;
    flex-direction: column;
}

.upgrade-modal-code {
    align-self: center;
    background: lightgrey;
    padding: 5px 10px 5px 10px; 
    border-radius: 4px;
}