

.expandable-content-card {
    background: var(--mito-background-off);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 3px;

    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;

    padding: 5px;

}