.radio-button-box-container {
    display: flex;
    flex-direction: column;
}

/* Avoid some strange JNotebook overwrites */
.radio-button-box-container * input[type="radio"] {
    margin: 3px;
}

.radio-button-box {
    /* These in pair make it so less than the max height will just take up the space it needs, and anything larger scrolls */
    overflow: auto;

    border: 0.5px solid var(--mito-text-light);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: var(--mito-background-off);
}

.radio-button-box-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.radio-button-box-row:hover {
    background-color: var(--mito-background-highlight);
}

.radio-button-box-row-selected {
    background-color: var(--mito-background-highlight);
}
