

/* Remove borders and padding from the main area widget */
.lm-SplitPanel-child {
    background-color: var(--jp-layout-color1) !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Remove borders and padding from the notebook panel */
.jp-MainAreaWidget.jp-NotebookPanel {
    border: none;
    border-left: 1px solid var(--jp-border-color1) !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Remove top border from tabs so there is no double border */
.lm-DockPanel-tabBar .lm-TabBar-tab {
    border-top: none !important;
}

.jp-InputArea-editor {
    border-radius: 3px !important;
}

.lm-MenuBar,
#jp-top-bar,
#jp-MainLogo {
    background-color: var(--jp-layout-color2) !important;
}