

/* Remove borders and padding from the main area widget */
.lm-SplitPanel-child {
    background-color: var(--jp-layout-color1) !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Remove borders and padding from the notebook panel */
.jp-MainAreaWidget.jp-NotebookPanel {
    border: none;
    border-left: 1px solid var(--jp-border-color1) !important;
    margin: 0 !important;
    padding: 0 !important;
}

.jp-InputArea-editor {
    border-radius: 3px !important;
}