

/* Remove borders and padding from the main area widget */
.lm-SplitPanel-child {
    background-color: var(--jp-layout-color1) !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Remove borders and padding from the notebook panel */
.jp-MainAreaWidget.jp-NotebookPanel {
    border: none;
    border-left: 1px solid var(--jp-border-color1) !important;
    margin: 0 !important;
    padding: 0 !important;
}

/* Remove top border from tabs so there is no double border */
.lm-DockPanel-tabBar .lm-TabBar-tab {
    border-top: none !important;
}

.jp-InputArea-editor {
    border-radius: 3px !important;
}

/* Remove the collapser next to the active cell */ 
.jp-Collapser {
    display: none !important;
}

/* Update the color of the top nav bar (File, Edit, etc.) */
.lm-MenuBar,
#jp-top-bar,
#jp-MainLogo {
    background-color: var(--jp-layout-color2) !important;
}

.jp-Notebook.jp-mod-editMode .jp-Cell.jp-mod-active .jp-InputArea-editor {
    border-width: 1.5px !important;
}