.message {
    position: relative;
}

.message:hover .message-edit-button {
    opacity: 1 !important;
}

.message-edit-button {
    position: absolute !important;
    bottom: 8px !important;
    right: 8px !important;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: var(--jp-layout-color3);
    border: none;
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.message-edit-button:hover {
    background-color: var(--jp-layout-color4);
} 