.code-message-part-container {
    display: flex;
    flex-direction: column;

    background-color: var(--chat-background-color);
    border-radius: 3px;
    border: 1px solid var(--chat-user-message-font-color);
    overflow: hidden;
}

.code-message-part-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    background-color: var(--chat-user-message-background-color);
    border-bottom: 1px solid var(--chat-user-message-font-color);
    font-size: 0.8em;
}

.code-location {
    flex-grow: 1;
    margin-left: 5px;
    color: var(--chat-user-message-font-color);
}

.code-message-part-toolbar button {
    background-color: var(--chat-user-message-background-color);
    border: none;
    border-left: 1px solid var(--chat-user-message-font-color);
    border-radius: 0px;

    font-size: 0.8em;
    color: var(--chat-user-message-font-color);
}

.code-message-part-toolbar button:hover {
    background-color: var(--chat-background-color);
    color: var(--chat-assistant-message-font-color);
}


  .deleted-line .jp-RenderedMarkdown {
    background-color: rgba(255, 0, 0, 0.2) !important;
  }
  
  .deleted-line .jp-RenderedMarkdown pre {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
  }