.signup-form-header {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--jp-ui-font-color0);
}

.signup-form-header-logo {
    margin: 0 auto 8px;
    display: block;
    text-align: center;
}

.signup-form-message {
    font-size: 14px;
    color: var(--jp-ui-font-color1);
}

.signup-form-input {
    padding: 8px 12px;
    border: 1px solid var(--jp-border-color1);
    border-radius: var(--jp-border-radius);
    width: 200px;
    margin-right: 8px;
    height: 36px;
    box-sizing: border-box;
}

.signup-form-input:focus {
    border-color: var(--purple-600);
    outline: none;
}

.signup-form-button {
    height: 36px;
    box-sizing: border-box;
    background-color: var(--purple-700);
    color: white;
}

.signup-form-button:hover {
    background-color: var(--purple-600);
}