.mito-ai-status-button.jp-Button.jp-mod-minimal {
  background-color: transparent;
  color: var(--jp-inverse-layout-color2);
}

.mito-ai-status-button.jp-Button.jp-mod-minimal:hover {
  background-color: var(--jp-layout-color3);
  color: var(--jp-inverse-layout-color1);
}

.jp-StatusBar-Item.jp-mod-clicked > .mito-ai-status-button {
  color: var(--jp-ui-inverse-font-color1);
}

.jp-StatusBar-Item.jp-mod-clicked > .mito-ai-status-button:hover {
  background-color: transparent;
  color: var(--jp-ui-inverse-font-color1);
}

.jp-StatusBar-Item.jp-mod-clicked:hover > .mito-ai-status-button {
  color: var(--jp-ui-inverse-font-color0);
}

.mito-ai-status-button.jp-Button.jp-mod-minimal.mito-ai-error {
  color: var(--jp-warn-color1);
}

.mito-ai-status-button.jp-Button.jp-mod-minimal.mito-ai-error:hover,
.jp-StatusBar-Item.jp-mod-clicked > .mito-ai-status-button.mito-ai-error,
.jp-StatusBar-Item.jp-mod-clicked > .mito-ai-status-button.mito-ai-error:hover,
.jp-StatusBar-Item.jp-mod-clicked:hover > .mito-ai-status-button.mito-ai-error {
  color: var(--jp-warn-color2);
}

.mito-ai-status-popup {
  padding: 4px 12px;
  background-color: var(--jp-layout-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
  z-index: 2;
  font-size: var(--jp-ui-font-size1);
  max-width: 400px;
}
