.text-and-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;

    /* Make sure the button grows large enough so that the text does not wrap */
    width: fit-content;
    white-space: nowrap;
}

.text-and-icon-button__icon {
    height: 100%;
    display: flex;
    align-items: center;
}

.text-and-icon-button__icon > svg {
    height: 100%;
    width: auto;
}

.text-and-icon-button.green {
    background-color: var(--green-400);
    color: var(--green-900);
}

.text-and-icon-button.green:hover {
    background-color: var(--green-500);
}

.text-and-icon-button.red {
    background-color: var(--red-400);
    color: var(--red-900);
}

.text-and-icon-button.red:hover {
    background-color: var(--red-500);
}