.color-input {
    --color-input-width: 60px;

    position: relative;
    display: inline-block;
    width: var(--color-input-width);

    /* 
        Different browsers render this element a bit differently. We choose
        this height as some browsers put a box around the input, which is fine.
    */
    height: 23px;
}