.mito-dropdown-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--mito-text);
    border: none;
    background-color: inherit;
}

/* 
    If we have the dropdown in a compressed state, then we 
    shrink the distance between elements
*/
.mito-dropdown-compressed > .mito-dropdown-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mito-dropdown-item-icon-and-title-container {
    width: 100%;
    display: flex;
}

.mito-dropdown-item-icon-container {
    padding-right: 7px;
}

.mito-dropdown-item-title-and-shortcut-container {
    display: flex;
    flex-direction: row;
    place-content: center space-between;
    width: 100%;
    align-items: center;
}

.mito-dropdown-item-icon-container path {
    width: 13px;
    stroke-width: 1;
}

.mito-dropdown-item-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}

.mito-dropdown-item-subtext-container {
    margin-top: 4px;

    cursor: default;
}

.mito-dropdown-item-subtext-disabled {
    color: var(--mito-status-error);
}

/*  When the DropdownItem is not hovered over, don't show
    the subtext, when it is hovered over, show the subtext.
*/
.mito-dropdown-item .mito-dropdown-item-display-subtext-on-hover {
    display: none;
}
.mito-dropdown-item:hover .mito-dropdown-item-display-subtext-on-hover {
    display: inline-block;
}

.mito-dropdown-item-right-text {
    padding-right: 5px;
    color: var(--mito-text-light) !important;
}

/* Special CSS for horizontal dropdown items */

.mito-dropdown-item-horizontal .mito-dropdown-item-icon-and-title-container {
    flex-direction: row;
}

.mito-dropdown-item-horizontal .mito-dropdown-item {
    width: 100%;
}

.mito-dropdown-item-horizontal .mito-dropdown-item:hover {
    background-color: var(--mito-background-highlight);
}

.mito-dropdown-item-horizontal .mito-dropdown-item-icon-container {
    /* Must be the same width as the .mito-dropdown-item-subtext-container */
    width: 18px;
    height: 15px;
}

.mito-dropdown-item-horizontal .mito-dropdown-item-selected {
    background-color: var(--mito-background-highlight);
}

/* Special CSS for vertical dropdown items */

.mito-dropdown-item-vertical .mito-dropdown-item {
    border-radius: 3px;;
}

.mito-dropdown-item-vertical .mito-dropdown-item-icon-and-title-container {
    flex-direction: column;
}

.mito-dropdown-item-vertical .mito-dropdown-items-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: var(--mito-background-off);
}

.mito-dropdown-item-vertical .mito-dropdown-item {
    width: 85px;
    align-items: center;
    border: 1px solid var(--mito-text-light);
    margin: 10px;
    background-color: var(--mito-background);
}

.mito-dropdown-item-vertical .mito-dropdown-item-icon-container {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.mito-dropdown-item-vertical .mito-dropdown-item-title-and-shortcut-container {
    justify-content: center;
}

.mito-dropdown-item-vertical .mito-dropdown-item:hover,
.mito-dropdown-item-vertical .mito-dropdown-item-selected {
    outline: 3px solid var(--mito-highlight-light);
}

.mito-dropdown-item-vertical p {
    text-wrap: wrap;
    width: min-content;
}