.dropdown-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--mito-gray);
}

/* 
    If we have the dropdown in a compressed state, then we 
    shrink the distance between elements
*/
.dropdown-compressed > .dropdown-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* 
    If there is a search bar, we have to bump the items
    down 50px, so they aren't under the search bar
*/
.dropdown-item-with-search-first-item {
    margin-top: 50px;
}

.dropdown-item-selected {
    background-color: var(--mito-light-blue);
}
.dropdown-item:hover {
    background-color: var(--mito-light-blue);
}

.dropdown-item-icon-and-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.dropdown-item-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Must be the same width as the .dropdown-item-subtext-container */
    width: 18px;
    flex-shrink: 0;
}

.dropdown-item-subtext-container {
    margin-top: 4px;

    /* Must be the same width as the .dropdown-item-icon-container */
    margin-left: 18px; 
}

.dropdown-item-title-disabled {
    color: var(--mito-light-gray);
}

.dropdown-item-subtext-disabled {
    color: var(--mito-red);
}

/*  When the DropdownItem is not hovered over, don't show
    the subtext, when it is hovered over, show the subtext.
*/
.dropdown-item .dropdown-item-display-subtext-on-hover {
    display: none;
}
.dropdown-item:hover .dropdown-item-display-subtext-on-hover {
    display: inline-block;
}



