.mito-dropdown-button {
    display: flex;
    flex-direction: row;

    height: 30px;

    /* Stylize the border */
    box-sizing: border-box;
    border-radius: 3px;

    /* Give it a background*/
    background-color: var(--mito-background-off);
}

.mito-dropdown-button-text {
    display: flex;
    align-items: center;

    /* Make the text div take up the remaining space */
    flex-grow: 1;

    /* Add spacing between text and left border */
    padding-left: 5px;

    white-space: nowrap;
    overflow-x: hidden;
}

.mito-dropdown-button-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

    width: 30px;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 0px 3px 3px 0px;
}

/* 
    Classes for when the dropdown button is enabled
*/
.mito-dropdown-button-enabled {
    border: 1px solid var(--mito-highlight);
}
.mito-dropdown-button-enabled:hover {
    border: 1px solid var(--mito-highlight-medium);
}
.mito-dropdown-button-enabled > .mito-dropdown-button-text {
    color: var(--mito-highlight) !important;
}
.mito-dropdown-button-enabled:hover > .mito-dropdown-button-text {
    color: var(--mito-highlight-medium) !important;
}

/* 
    Classes for when the dropdown button is disabled
*/
.mito-dropdown-button-disabled {
    border: 1px solid var(--mito-text-light);
}
.mito-dropdown-button-disabled > .mito-dropdown-button-text {
    color: var(--mito-text-light) !important;
}
