.mito-dropdown-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--mito-gray);
}

/* 
    If we have the dropdown in a compressed state, then we 
    shrink the distance between elements
*/
.mito-dropdown-compressed > .mito-dropdown-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mito-dropdown-item-selected {
    background-color: var(--mito-light-blue);
}
.mito-dropdown-item:hover {
    background-color: var(--mito-light-blue);
}

.mito-dropdown-item-icon-and-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 10px;
}

.mito-dropdown-item-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Must be the same width as the .mito-dropdown-item-subtext-container */
    width: 18px;
    flex-shrink: 0;
}

.mito-dropdown-item-subtext-container {
    margin-top: 4px;

    /* Must be the same width as the .mito-dropdown-item-icon-container */
    margin-left: 18px; 
}

.mito-dropdown-item-title-disabled {
    color: var(--mito-light-gray);
}

.mito-dropdown-item-subtext-disabled {
    color: var(--mito-red);
}

/*  When the DropdownItem is not hovered over, don't show
    the subtext, when it is hovered over, show the subtext.
*/
.mito-dropdown-item .mito-dropdown-item-display-subtext-on-hover {
    display: none;
}
.mito-dropdown-item:hover .mito-dropdown-item-display-subtext-on-hover {
    display: inline-block;
}

.mito-dropdown-item-right-text {
    position: absolute;
    right: 10px;
    color: var(--mito-light-gray) !important;
}



