.dropdown {
    z-index: 3;
    position: absolute;

    min-width: 100px;

    /* This must match the definitions in the Dropdown.tsx */
    max-height: 350px;

    overflow-y: scroll;

    background: var(--mito-white);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    text-align: left;

    padding-top: 8px;
    padding-bottom: 8px;    
}

/* 
    A class that is applied when the dropdown is a compressed
    state. This class is also used in the DropdownItem.css to
    compress the distance between elements.
*/
.dropdown-compressed {
    padding-top: 4px;
    padding-bottom: 4px;
}

.dropdown-search {
    padding-top: 0px;
}

.dropdown-search-input {
    position: fixed;
    padding: 10px;
    width: 320px;
    padding-bottom: 10px;
    background-color: white;
}