.mito-dropdown-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 5px;
    box-sizing: border-box;
    overflow: hidden;
    color: var(--mito-text);
}

/* 
    If we have the dropdown in a compressed state, then we 
    shrink the distance between elements
*/
.mito-dropdown-compressed > .mito-dropdown-item {
    padding-top: 4px;
    padding-bottom: 4px;
}

.mito-dropdown-item-selected {
    background-color: var(--mito-background-highlight);
}
.mito-dropdown-item:hover {
    background-color: var(--mito-background-highlight);
}

.mito-dropdown-item-icon-and-title-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px 10px;
}

.mito-dropdown-item-icon-and-title-container .mito-dropdown-item-icon-container {
    padding-right: 7px;
}

.mito-dropdown-item-icon-container path {
    width: 13px;
    stroke-width: 1;
}

.mito-dropdown-item-icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    /* Must be the same width as the .mito-dropdown-item-subtext-container */
    width: 18px;
    flex-shrink: 0;
}

.mito-dropdown-item-subtext-container {
    margin-top: 4px;

    /* Must be the same width as the .mito-dropdown-item-icon-container */
    margin-left: 18px; 
    
    cursor: default;
}

.mito-dropdown-item-subtext-disabled {
    color: var(--mito-status-error);
}

/*  When the DropdownItem is not hovered over, don't show
    the subtext, when it is hovered over, show the subtext.
*/
.mito-dropdown-item .mito-dropdown-item-display-subtext-on-hover {
    display: none;
}
.mito-dropdown-item:hover .mito-dropdown-item-display-subtext-on-hover {
    display: inline-block;
}

.mito-dropdown-item-right-text {
    padding-right: 5px;
    color: var(--mito-text-light) !important;
}



