
.mito-input-container {
    display: flex;
    position: relative;
}


.mito-input {
    /* Clear defaults */ 
    border: none;
    background: var(--mito-very-light-gray);
    
    /* 
        We make it a border box so that the border doesn't expand the width of the element
        and the padding do not expand the width of the input element
    */
    box-sizing: border-box;
    border: 1px solid var(--mito-light-gray);
    border-radius: 3px;

    height: 30px;
    padding-left: 5px;
}

.mito-input::placeholder {
    color: var(--mito-medium-gray)
}

.mito-input:hover {
    border: 1px solid var(--mito-medium-purple);
}

.mito-input:disabled {
    border: 1px solid var(--mito-white);
    color: var(--mito-light-gray)
}

.mito-input-right-text {
    /* Position the text correctly */
    position: absolute;
    right: 0;
    padding-top: 6px;
    padding-right: 4px;

    color: var(--mito-light-gray);
}