.mutli-toggle-box-container {
    display: flex;
    flex-direction: column;
}

.multi-toggle-box {
    /* These in pair make it so less than the max height will just take up the space it needs, and anything larger scrolls */
    overflow: auto;

    border: 0.5px solid var(--mito-legacy-gray);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #F8F8F8;
}

.multi-toggle-box-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
}

.multi-toggle-box-row:hover {
    background-color: var(--mito-light-blue);
}

.multi-toggle-box-row-selected {
    background-color: var(--mito-light-blue);
}