.text-area {
    resize: none;
    margin: 0px;
    padding: 5px;
    background-color: var(--mito-background-off);
    
    border: 1px solid var(--mito-lighter-gray);
    border-radius: 3px;
    box-sizing: border-box;
}

.text-area:focus {
    border-color: var(--mito-highlight);
}

.text-area-dark-border {
    border: 1px solid #ACACAD;
}

.text-area::placeholder {
    color: var(--mito-text-medium)
}

.text-area:hover:not(:disabled) {
    border-color: var(--mito-highlight)
}