.popup-container {
    /* Render above other divs */
    z-index: 2;
    position: absolute;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.25));

    background-color: var(--mito-background);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.bottom-left-popup-container {
    /* Place it right inside the bottom left corner of the sheet */
    bottom: 42px;
    margin-left: 6px;
}

.top-right-popup-container {
    top: 155px;
    right: 6px;
}
