.ai-transformation-example {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 5px;
    gap: 10px;

    background: #F5F5F5;
    border: 1px solid #ACACAD;
    border-radius: 3px;
}

.ai-transformation-example:hover {
    border: 1px solid var(--mito-light-purple);
}

.ai-transformation-feedback-button {
    padding: 5px;
    border-radius: 3px;
}

.ai-transformation-feedback-button:hover {
    background-color: var(--mito-light-gray);
}

.ai-transformation-feedback-button-selected {
    background-color: var(--mito-light-gray);
}