.sort-button {
    height: 30px;
    width: 100%;

    font-size: 12px;
    color: var(--mito-gray);
    background-color: var(--mito-very-light-gray);

    border: 1px solid var(--mito-light-gray);
    border-radius: 3px;
    border-style: solid; /* Get rid of the shadow around button */
    box-sizing: border-box;
}

.sort-button:hover {
    color: white;
    background-color: var(--mito-medium-gray);
}

.sort-button-selected {
    color: white;
    background-color: var(--mito-gray) !important;
}
