td {
    border: 1px solid #ddd;
    border-width: 0 1px 0 1px;
    padding: 4px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

table.no-spacing {
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  }