.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 3rem 2rem;
    background-color: var(--color-light-background);
    border-radius: 5px;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
    transition: background-color .5s;
}

.border_on_hover:hover {
    background-color: var(--color-background);
}

.image {
    margin-bottom: 1rem;
}

.customer_name {
    font-size: 1.5rem;
}

.quote_symbol {
    font-size: 40px;
    line-height: 1;
}

.read_more {
    margin-top: 2rem;
}


@media only screen and (min-width: 50em) { 
    .container {
        width: 25rem;
    }
    
}