
/* Note that we use these colors through out the codebase in JS constants. If you change these variables, make sure to update them everywhere. */
:root {

    /*** Default colors for Mito light theme ***/

    --mito-purple: #9D6CFF;
    --mito-medium-purple: #BA9BF8;
    --mito-light-purple: #D0B9FE;
    --mito-very-light-purple: #ece3ff;

    --mito-gray: #494650;
    --mito-medium-gray: #767180;
    --mito-light-gray: #ACACAD;
    --mito-pretty-light-gray: #cacaca;
    --mito-very-light-gray: #F5F5F5;

    /* Colors used for the sheet */
    --mito-white: #FFFFFF;
    --mito-light-blue: #E8EBF8;

    /*** Colors not changed by setting the theme ***/

    /* Color for errors and success */
    --mito-status-error: #CF0000;
    --mito-status-success: #10710D;
    --mito-status-warning: #FAECC0;
    --mito-status-warning-dark: #97683E;

    /* Colors used in recon */
    --mito-recon-created-background-color: #E4EFDC;
    --mito-recon-created-background-color-dark: #CBDFB8;
    --mito-recon-created-text-color: #389535;
    --mito-recon-modified-background-color: #FDF3D0;
    --mito-recon-modified-background-color-dark: #FBE7A3;
    --mito-recon-modified-text-color: #ECBB4A;
    --mito-recon-text-color: var(--mito-gray);
}