:root {
    --mito-blue: #0081DE;
    --mito-legacy-gray: #343434;

    --mito-purple: #9D6CFF;
    --mito-medium-purple: #BA9BF8;
    --mito-light-purple: #D0B9FE;
    --mito-very-light-purple: #E9E0FD;
    --mito-lightest-purple: #F0E9FF;
    --mito-disabled-purple: #C1A1FF;
    
    --mito-gray: #494650;
    --mito-medium-gray: #767180;
    --mito-light-gray: #ACACAD;
    --mito-very-light-gray: #F5F5F5;

    /* Colors used for the sheet */
    --mito-white: #FFFFFF;
    --mito-off-white: #ECDCDC;
    --mito-light-blue: #E8EBF8;
    --mito-super-light-blue: #F2F4FA;
    --mito-border: #C4C4C4;
    --mito-sheet-text-gray: #404040;

    /* Color for errors */
    --mito-red: #CF0000;
}