/* 
    This contains helpful CSS classes for flexbox
*/

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.flexbox-space-between {
    justify-content: space-between;
}

.flexbox-justify-end {
    justify-content: end;
}