.mito-blue-container {
    padding: 5px;
    background-color: var(--mito-light-blue);
    border-radius: 5px;
}

.mito-collapsible-content-card-container {
    background-color: var(--mito-light-blue);
    border-radius: 5px;
}

.mito-collapsible-content-card-subtext {
    padding: 5px;
}
