.file-browser {
    height: 100%;
}

.file-browser-path-selector {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    
    /* We make this scrollable sideways, but hide the scrollbar vertically */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.file-browser-path-seperator {
    padding: 0px 2px;
}

.file-browser-path-part svg {
    /* 
        On Mac, Notebooks the max-width is set to 100%, but the svg doesn't take up any space on its own, 
        so the width gets scrunched to 0. To combat this, we just set the width to be the size of the svg.
    */
    max-width: fit-content !important;
}

.file-browser-path-part {
    padding: 0px 2px;
    color: var(--mito-text);
}

.file-browser-element-list {
    overflow-y: scroll;
    overflow-x: hidden;

    border-bottom: 1px solid grey;
    height: 100%;

    /* 
        We position this element so it's children can be scrolled into view effectively, 
        which for some reason requires the parent to be positioned properly
    */
    position: relative;
}

.file-browser-element {
    color: var(--mito-text);
}
.file-browser-element:hover {
    border-radius: 3px;
}