.cell-editor {
    height: min-content;

    z-index: 2;
    position: absolute;
    box-sizing: border-box;

    /* 
        Set the pointer-events: none allows the user to select elements that are behind the 
        cell editor. The formula bar cell editor's rectangular div covers the column headers. 
        However, most of the rectangle is translucent. 

        We set the entire cell-editor to have no pointer events, and we turn on the pointer events
        for the specific parts of the cell editor that are displayed. This lets the user interact with 
        all of the visible elements as they would expect. 
    */
    pointer-events: none;
}

.cell-editor-form {
    border: 2px solid var(--mito-purple);
    width: 100%;
    box-sizing: border-box;

    /* Let the user click on the cell editor form */
    pointer-events: all 
}

.cell-editor-input {
    height: 26px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

.cell-editor-dropdown-box {
    background: white;
    box-shadow: 1px 1px 5px grey;
    
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    white-space: normal; 

    /* Let the user click on the dropdown box */
    pointer-events: all;
}

.cell-editor-suggestion {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    margin-top: 4px;
    margin-bottom: 4px;
}

.cell-editor-suggestion-selected {
    background-color: var(--mito-light-blue);
}

.cell-editor-function-documentation-header {
    background-color: var(--mito-light-blue);
}

.cell-editor-function-documentation-example {
    color: var(--mito-purple);
}

.cell-editor-label {
    background-color: var(--mito-very-light-gray)
}