/* TOOLBAR */

/* stylelint-disable-next-line selector-class-pattern */
.mito-sqlcell-toolbar .jp-Toolbar {
  border-bottom: none;
  align-items: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.mito-sqlcell-toolbar .jp-Toolbar .mito-sqlcell-variable {
  display: flex;
  align-items: center;
}

/* stylelint-disable-next-line selector-class-pattern */
.mito-sqlcell-toolbar .jp-Toolbar input {
  height: 63%;
}
