.faq_card_container {

    /* 
        Reduce the padding so we can increase the size of the header to 
        make it easily clickable w/o making it look rediculous
    */
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;

    /* When we scroll to a card, make sure its not cutoff by the header */
    scroll-margin-top: 7rem; 

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Set a large height so make the div easily clickable to open/close the FAQ */
    height: 40px;
    cursor: pointer;
}

.faq_card_container li {
    list-style-position: outside;
    margin-left: 4rem;
}

.faq_card_header_text {
    font-size: 2rem;
    color: white;
}

.faq_card_container *:first-child {
    margin-top: 0;
}


@media only screen and (min-width: 50em) { 
    .faq_card_container {
        max-width: 70rem;
    }

    .faq_card_container li { 
        margin-left: 2rem;
    }

    .faq_card_header_text {
        font-size: 1.25rem;
    }
}