.faq_card_container {
    /* 
        Reduce the padding so we can increase the size of the header to 
        make it easily clickable w/o making it look rediculous
    */
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;

    /* When we scroll to a card, make sure its not cutoff by the header */
    scroll-margin-top: 7rem; 

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* Set a large height so make the div easily clickable to open/close the FAQ */
    height: 40px;
    cursor: pointer;
}

.faq_card_container h1 {
    font-size: 2rem;
}

.faq_card_container li {
    font-size: 2rem;
    line-height: 1.5;
    margin-top: 3rem;
    margin-left: 3rem;
    color: var(--color-text-secondary);
}

.faq_card_container p:first-of-type,
.faq_card_container li:first-of-type {
    margin-top: 0;
}


@media only screen and (min-width: 50em) { 
    .faq_card_container {
        max-width: 70rem;
    }

    .header {
        height: 70px;
    }

    .faq_card_container li {
        font-size: 1.375rem;
        line-height: 1.25;
        margin-top: 2rem;
        margin-left: 2rem;
    }
}