.index-headers-container {
    overflow: hidden;
    grid-area: c-header;
    user-select: none;
    background-color: var(--mito-very-light-gray);
    width: 80px; /* Update the cell editor placement if you change this */
}

.index-headers-container > div {
    display: flex;
    flex-direction: column;
}

.index-header-container {
    height: var(--cell-height);
    box-sizing: border-box;

    text-align: center;

    color: var(--mito-gray);
    font-weight: bold;

    /* Align vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.index-header-container:hover {
    background-color: var(--mito-light-purple);
}

.index-header-selected {
    background-color: var(--mito-light-purple);
}